.idea/*
#cmake-build-debug/*
cmake-build-*/*

Doc/draft/*
#apps/draft/*
Modules/ThirdPart/lv_port_pc_visual_studio/*
#ThirdPart/fatfs/*
ThirdPart/fatfs/ff15/documents/*
ThirdPart/hilink/*
#ThirdPart/lua/*
ThirdPart/lua/doc/*
ThirdPart/microPython/*
/Modules/ThirdPart/lv_port_pc_visual_studio
