[submodule "ThirdPart/CmBacktrace/raw"]
	path = ThirdPart/CmBacktrace/raw
	url = https://github.com/armink/CmBacktrace.git
[submodule "ThirdPart/PLOOC/raw"]
	path = ThirdPart/PLOOC/raw
	url = https://github.com/GorgonMeducer/PLOOC.git
[submodule "ThirdPart/lvgl/raw/lvgl"]
	path = ThirdPart/lvgl/raw/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "ThirdPart/lua/raw"]
	path = ThirdPart/lua/raw
	url = https://github.com/lua/lua.git
[submodule "ThirdPart/GuiLite/raw"]
	path = ThirdPart/GuiLite/raw
	url = https://github.com/idea4good/GuiLite.git
[submodule "ThirdPart/LittleFS/raw"]
	path = ThirdPart/LittleFS/raw
	url = https://github.com/littlefs-project/littlefs.git
[submodule "ThirdPart/SGL/raw"]
	path = ThirdPart/SGL/raw
	url = https://gitee.com/li-shan-asked/sgl.git
[submodule "ThirdPart/lvgl/raw/freetype"]
	path = ThirdPart/lvgl/raw/freetype
	url = https://github.com/freetype/freetype.git
[submodule "ThirdPart/lw_oopc/raw"]
	path = ThirdPart/lw_oopc/raw
	url = https://github.com/Akagi201/lw_oopc.git
[submodule "ThirdPart/cJSON/raw"]
	path = ThirdPart/cJSON/raw
	url = https://github.com/DaveGamble/cJSON.git
[submodule "ThirdPart/lwrb/raw"]
	path = ThirdPart/lwrb/raw
	url = https://github.com/MaJerle/lwrb.git
[submodule "ThirdPart/EasyFlash/raw"]
	path = ThirdPart/EasyFlash/raw
	url = https://github.com/armink/EasyFlash.git
[submodule "ThirdPart/SFUD/raw"]
	path = ThirdPart/SFUD/raw
	url = https://github.com/armink/SFUD.git
[submodule "ThirdPart/inih/raw"]
	path = ThirdPart/inih/raw
	url = https://github.com/benhoyt/inih.git
[submodule "ThirdPart/MonoGUI/raw"]
	path = ThirdPart/MonoGUI/raw
	url = https://github.com/19greg96/MonoGUI.git
[submodule "ThirdPart/cpost/raw"]
	path = ThirdPart/cpost/raw
	url = https://github.com/NevermindZZT/cpost.git
[submodule "ThirdPart/ThreadX/threadx/raw"]
	path = ThirdPart/ThreadX/threadx/raw
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "ThirdPart/ThreadX/filex/raw"]
	path = ThirdPart/ThreadX/filex/raw
	url = https://github.com/eclipse-threadx/filex.git
[submodule "ThirdPart/ThreadX/usbx/raw"]
	path = ThirdPart/ThreadX/usbx/raw
	url = https://github.com/eclipse-threadx/usbx.git
[submodule "ThirdPart/ThreadX/netxduo/raw"]
	path = ThirdPart/ThreadX/netxduo/raw
	url = https://github.com/eclipse-threadx/netxduo.git
[submodule "ThirdPart/ThreadX/levelx/raw"]
	path = ThirdPart/ThreadX/levelx/raw
	url = https://github.com/eclipse-threadx/levelx.git
[submodule "ThirdPart/ThreadX/guix/raw"]
	path = ThirdPart/ThreadX/guix/raw
	url = https://github.com/eclipse-threadx/guix.git
[submodule "ThirdPart/CMSIS-FreeRTOS/raw"]
	path = ThirdPart/CMSIS-FreeRTOS/raw
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
[submodule "ThirdPart/CMSIS/raw"]
	path = ThirdPart/CMSIS/raw
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "ThirdPart/CMSIS-DSP/raw"]
	path = ThirdPart/CMSIS-DSP/raw
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "ThirdPart/CMSIS-RTX/raw"]
	path = ThirdPart/CMSIS-RTX/raw
	url = https://github.com/ARM-software/CMSIS-RTX.git
[submodule "ThirdPart/busybox/raw"]
	path = ThirdPart/busybox/raw
	url = https://github.com/mirror/busybox.git
[submodule "ThirdPart/CMSIS-NN/raw"]
	path = ThirdPart/CMSIS-NN/raw
	url = https://github.com/ARM-software/CMSIS-NN.git
[submodule "ThirdPart/CMSIS-Driver/raw"]
	path = ThirdPart/CMSIS-Driver/raw
	url = https://github.com/ARM-software/CMSIS-Driver.git
[submodule "ThirdPart/busybox-w32/raw"]
	path = ThirdPart/busybox-w32/raw
	url = https://github.com/rmyorston/busybox-w32.git
[submodule "ThirdPart/other/STM32-Bootloader/raw"]
	path = ThirdPart/other/STM32-Bootloader/raw
	url = https://github.com/viktorvano/STM32-Bootloader.git
[submodule "ThirdPart/other/can_uds_bootloader/raw"]
	path = ThirdPart/other/can_uds_bootloader/raw
	url = https://gitee.com/toomoss/can_uds_bootloader.git
[submodule "ThirdPart/other/eepromfs/raw"]
	path = ThirdPart/other/eepromfs/raw
	url = https://gitee.com/wtau_zaozao/eepromfs.git
[submodule "ThirdPart/dynamic_loader/raw"]
	path = ThirdPart/dynamic_loader/raw
	url = https://gitee.com/wzh1845462801/dynamic_loader.git
